$button-color: $global-color-secondary;
$button-background-color: $global-color-primary;
$button-border-color: $global-color-secondary;
$button-font-size: 12px;
$button-line-height: 14px;
$button-transition-duration: 0s;
