
///* ========================================================================
//   #FONTS
//   ======================================================================== */

$global-font-folder: "../fonts/";
$global-font-regular:    400;
$global-font-medium:     500;
$global-font-semibold:   600;
$global-font-bold:       700;
$global-font-primary: "Cabin", Arial, sans-serif;
$global-font-secondary: "KronaOne", Arial, sans-serif;
